@import "./src/styles/variables";
@import "./src/styles/mixins";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: $padding;
	padding-right: $padding;
	border-radius: $radius $radius 0 0;
	background: $white;
	border-bottom: 1px solid $gray;
}

.account {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.link {
		margin-right: 20px;
	}
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 34px;
	height: 34px;
	border-radius: 100%;
	transition: background $duration-average ease-in-out,
	transform $duration-fast ease-in-out;

	&:active {
		transform: scale(.95);
	}
}

.link.active {
	background: rgba(0, 0, 0, 0.2);

	svg {
		fill: $white;
	}
}
