@import "./src/styles/variables";
@import "./src/styles/mixins";

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	width: 210px;
	height: 260px;
	padding: 30px;
	border: 1px solid $gray;
	border-radius: $radius;
	cursor: pointer;
	@include transition-fast("transform, border-color");

	&:active {
		transform: $scale;
	}
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price_wrapper {
	display: flex;
	flex-direction: column;
}

.price {
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	color: $gray;
}

.price_currency {
	@include price
}

.liked {
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
	@include transition-fast("transform, border-color");
}

.checkbox {
	cursor: pointer;
}
